@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --orange-bg: linear-gradient(114deg, #F9804B 1.49%, #FE9013 101.44%);
    --orange: #F9804B;
    --green: #4B9200;
    --yellow: #FFEE2E;
    --orange-grd-bg: linear-gradient(316deg, rgba(254, 210, 144, 0.70) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.70) 106.36%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --orange-grd: #FED290;
    --pink-grd-bg: linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-grd: #FEBDAB;
    --red: #D31414;
    --black-blue: #333B41;
    --gray: #767474;
    --gray-smoky: #ABABAB;
    --light-gray: #F1F3F2;
    --glass-white: #FDFDFF;
}
.container {
    margin: 0 auto;
    width: 1600px;
}
.main-text {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 220px;
}
.header__menu {
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 54px;
}
.header__menu-text {
    transition: 0.3s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.header__menu-text:hover {
    color: var(--orange);

    transition: 0.3s;
}
.header__designed-by {
    cursor: default;
}
.stream {
    background-image: url("../../images/index/panda-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.stream__inner {
    padding: 12px 0;
    padding-right: 319px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 69px;
}
.header__watch-online {
    width: 465px;
    height: 465px;
    border-radius: 100%;
    background: var(--orange-bg);
    overflow: visible;

    font-family: 'Roboto', sans-serif;
    font-size: 106.496px;
    font-weight: 700;
    text-align: center;
    line-height: 75%;
    color: #FFFFFF;
}
.header__bottom-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 78px;
    padding-left: 189px;
}
.header__special {
    color: var(--yellow);
}
.header__watch-link {
    background: var(--orange-bg);
    width: 298px;
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 25px;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}


.backstage__inner {
    padding: 140px;
    padding-bottom: 100px;
    background: url('../../images/index/backstage-background.png');
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-repeat: no-repeat;
}
.backstage__arrow {
    width: 62px;
    height: 62px;
}
.backstage__arrow--left {
    background: url('../../icons/index/arrow-left.svg');
}
.backstage__arrow--right {
    background: url('../../icons/index/arrow-right.svg');
}
.backstage__how-it-works {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 87px;
    margin-bottom: 180px;
    margin: 0 80px;
}  
.backstage__hiw-image {
    background: url("../../images/index/bamboo-cap.png");
    backdrop-filter: blur(2px);
    width: 609px;
    height: 403px;
}
.backstage__hiw-text {
    display: flex;
    flex-flow: column nowrap;

    color: var(--black-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.backstage__h1 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}
.backstage__site-desc {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 54px;
}
.backstage__h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
}
.backstage__hiw-desc {
    font-size: 16px;
    line-height: 140%;
}
.backstage__animals {
    margin-top: 180px;
}
.backstage__animals::before,
.backstage__animal::after {
    margin: 0;
}
.slick-track {
    display: flex;
    justify-content: space-between;
}
.backstage__card-group {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 30px;
}
.backstage__card-group:nth-child(3) {
    margin-right: 0px;
}
.backstage__card {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    border: 1px solid var(--orange);
    border-radius: 5px;
}
.backstage__card:nth-child(1) {
    margin-bottom: 20px;
}
.backstage__animal-desc {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}
.backstage__desc-title {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.backstage__desc-subtitle {
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.footer__inner {
    background-color: #111115;
    padding: 40px 220px 50px;
    display: flex;
    justify-content: space-between;
}
.footer__menu-text {
    transition: 0.3s;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.footer__section {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
.footer__logo {
    margin-bottom: 67px;
}
.footer__socials {
    margin-top: 47px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
}
.footer__social {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    padding: 5px auto;
}
.footer__social-logo {

    border-radius: 100%;
}
.footer__menu-text:hover {
    color: var(--orange);

    transition: 0.3s;
}