@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --orange-bg: linear-gradient(114deg, #F9804B 1.49%, #FE9013 101.44%);
    --orange: #F9804B;
    --green: #4B9200;
    --yellow: #FFEE2E;
    --orange-grd-bg: linear-gradient(316deg, rgba(254, 210, 144, 0.70) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.70) 106.36%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --orange-grd: #FED290;
    --pink-grd-bg: linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-grd: #FEBDAB;
    --red: #D31414;
    --black-blue: #333B41;
    --gray: #767474;
    --gray-smoky: #ABABAB;
    --light-gray: #F1F3F2;
    --glass-white: #FDFDFF;
}
.container {
    margin: 0 auto;
    width: 1600px;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 220px;
}
.header__menu {
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 54px;
}
.header__menu-text {
    transition: 0.3s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.header__menu-text:hover {
    color: var(--orange);

    transition: 0.3s;
}
.header__designed-by {
    cursor: default;
}
.stream {
    background-image: url("../../images/index/panda-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.stream__inner {
    padding: 12px 0;
    padding-right: 319px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 69px;
}
.stream__watch-online {
    width: 465px;
    height: 465px;
    border-radius: 100%;
    background: var(--orange-bg);
    overflow: visible;

    font-family: 'Roboto', sans-serif;
    font-size: 106.496px;
    font-weight: 700;
    text-align: center;
    line-height: 75%;
    color: #FFFFFF;
}
.stream__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 78px;
    padding-left: 189px;
}
.stream__special {
    color: var(--yellow);
}
.stream__watch-link {
    background: var(--orange-bg);
    width: 298px;
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 25px;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.backstage__inner {
    padding: 140px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.backstage__background {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: absolute;
}
.backstage__bg-up {
    display: flex;
    justify-content: right;
}
.backstage__bg-down {
    display: flex;
    justify-content: space-between;
}
.backstage__arrow {
    width: 62px;
    height: 62px;
}
.backstage__arrow--left {
    background: url('../../icons/index/arrow-left.svg');
}
.backstage__arrow--right {
    background: url('../../icons/index/arrow-right.svg');
}
.backstage__how-it-works {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 87px;
    margin-bottom: 180px;
    margin: 0 80px;
}  
.backstage__hiw-image {
    background: url("../../images/index/bamboo-cap.png");
    backdrop-filter: blur(2px);
    width: 609px;
    height: 403px;
}
.backstage__hiw-text {
    display: flex;
    flex-flow: column nowrap;

    color: var(--black-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.backstage__h1 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}
.backstage__site-desc {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 54px;
}
.backstage__h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
}
.backstage__hiw-desc {
    font-size: 16px;
    line-height: 140%;
}
.backstage__animals {
    display: flex;
    gap: 30px;
    margin-top: 180px;
}
.backstage__card-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.backstage__card {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    border: 1px solid var(--orange);
    border-radius: 5px;
}
.backstage__animal-desc {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}
.backstage__desc-title {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.backstage__desc-subtitle {
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.feed {
    background-image: var(--orange-grd-bg);
}
.feed__inner {
    padding: 100px 220px;
    padding-top: 69px;
}
.feed__frame {
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    backdrop-filter: blur(4px);

    padding: 40px 100px 60px;
}
.feed__text {
    display: flex;
    flex-flow: column nowrap;
    overflow: visible;
}
.feed__title {
    color: var(--orange);
    font-size: 48px;
    line-height: 120%;

    margin-bottom: 30px;
    align-self: center;
}
.feed__h2 {
    font-size: 24px;
    line-height: 120%;

    margin-bottom: 40px;
}
.feed__h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;

    margin-bottom: 10px;
}
.feed__h4 {
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    max-width: 834px;

    margin-bottom: 10px;
}
.feed__h4::after {
    background-color: var(--orange);
    content: '';
    position: absolute;
    width: 177px;
    height: 1px;

    margin-top: 22px;
    margin-left: -186px;
}
.feed__hiw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-top: 60px;
}
.feed__hiw-title {
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 130%;
    color: #333b41;
}
.feed__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.feed__card {
    align-self: flex-start;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: -60px;
    gap: 30px;
}
.feed__box {
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;

    border: 1px solid var(--orange);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.feed__card-text {
    color: rgb(51, 59, 65);
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
}
.feed__card-text:nth-child(2) {
    width: 160px
}
.feed__arrow {
    width: 71px;
    height: 37px;
    background-image: url(../../images/index/arrow.png);
}
.feed__button {
    margin-top: 120px;
    border-radius: 25px;
    background-image: var(--orange-bg);
    width: 298px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.footer__inner {
    background-color: #111115;
    padding: 40px 220px 50px;
    display: flex;
    justify-content: space-between;
}
.footer__menu-text {
    transition: 0.3s;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.footer__section {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
.footer__logo {
    margin-bottom: 67px;
}
.footer__socials {
    margin-top: 47px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
}
.footer__social {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    padding: 5px auto;
}
.footer__social-logo {

    border-radius: 100%;
}
.footer__menu-text:hover {
    color: var(--orange);

    transition: 0.3s;
}