@media screen and (max-width: 660px) {
    .container{
        max-width: 320px;
    }
    .header__content-button{
        display: none;
    }
    .header__bottom{
        padding-top: 56px;
    }
    .header__content-title{
        width: 119px;
        height: 119px;
        margin-bottom: 45px;
    }
    .header__content-title p{
        width: 128.13px;
        height: 102.44px;
        top: 18px;
        left: 15px;
        font-size: 28px;
    }
    .about__backstage-button{
        display: block;
        margin:20px auto 30px;
        border-radius: 25px;
        background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
        width: 298px;
        height: 54px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .about__backstage-content{
        margin-left: 10px;
        width: 300px;
    }
    .about__button-cards{
        display: none;
    }
    .about__backstage-content-title{
        font-size: 24px;
    }
    .about__cards{
        margin-bottom: 20px;
    }
    .about__button{
        margin-bottom: 60px;
    }
    .about .splide__slide__row:first-child{
        margin-bottom: 1rem !important;
    }
    .about__backstage-content-text{
        font-size: 16px;
    }
    .about__backstage-content-subtitle{
        font-size: 24px;
    }
    .about__flower:nth-child(1){
        width: 85px;
        height: 71px;
        bottom: -2px;
    }
    .about__flower:nth-child(2){
        width: 105px;
        height: 217px;
        right: -74px;
        top: 35px;
    }
    .about__flower:nth-child(3){
        width: 138px;
        height: 72px;
        left: -80px;
    }
    .pick_and_feed{
        padding-top: 20px;
    }
    .container-pick-and-feed{
        padding: 0;
        padding-top: 20px;
        width: 300px;
        padding-bottom: 40px;
    }
    .pick_and_feed__info-title{
        font-size: 24px;
    }
    .pick_and_feed__info-subtitle{
        font-size: 18px;
        text-align: center;
        margin-left: 0;
    }
    .pick_and_feed__info-text{
        display: none;
    }
    .pick_and_feed__process-steps{
        flex-direction: column;
    }
    .pick_and_feed__process-step-name{
        margin-top: 10px
    }
    .pick_and_feed__process-arrow{
        transform: rotate(85deg);
    }
    .pick_and_feed__process-steps div:nth-child(2) img:last-child{
        top: -100px;
        right: -10px;
    }
    .pick_and_feed__process-steps div:nth-child(4) img:last-child{
        top: -100px;
        right: 0;
    }
    .reviews__title{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .testimonial{
        width: 300px;
    }
    .testimonials{
        max-height: 330px;
    }
    .reviews__feedback{
        width: 240px;
        margin-bottom: 60px;
    }
    .reviews__flower{
        width: 75px;
        height: 75px;
        right: -30px;
        bottom: -30px;
    }
    .footer__media-660px{
        display: none;
    }
    .footer__top-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .footer__media-320px{
        display: flex;
        align-items: center;
        margin-bottom: 36px;
    }
    .footer__main{
        width: 136px;
    }
    .footer__link-home{
        border: none;
        width: 128px;
        height: 30px;
    }
    .footer__link-home-text{
        width: 128px;
    }
    .footer .bamboo{
        top: 1px;
        left: 76px;
    }
    .footer__media-link img{
        margin-right: 30px;
    }
    .footer__media-link:last-child img{
        margin-right: 0;
    }
    .footer__donate{
        margin-bottom: 30px;
    }
    .footer__bottom{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__credits{
        margin-bottom: 30px;
    }
    .footer__navigation{
        gap: 30px;
        margin-right: 0;
        align-self: center;
    }
}