@media screen and (max-width: 1320px) {
    .container{
        max-width: 940px;
    }
    .header__content-title{
        height: 367px;
        width: 367px;
        p{
            width: 400px;
            height: 320px;
            top: 54px;
            left: 50px;
            font-size: 85px;
            letter-spacing: 0;
        }
    }
    .header__content-button{
        margin-left: 100px;
    }


    .main{
        padding-bottom: 30px;
    }




    .footer__media{
        margin-right: 178px;
    }
    .footer__navigation{
        margin-right: 100px
    }
    .footer__media-text{
        display: none;
    }
}
