@media screen and (max-width: 1038px) {
    .container{
        max-width: 640px;
    }
    .container-header-top{
        height: unset;
    }
    .header__menu-list{
        margin-left: 20px;
        height: unset;
        width: 47px;
    }
    .header__menu-burger{
        margin-right: 20px;
    }
    .header__menu-list .header__link-home{
        opacity: 0;
        height: 15px;
    }
    .header__link-home{
        height: unset;
        margin: 12px 24px;
    }
    .header__link-home .header__link-home-text{
        width: 47px;
        font-size: 20px;
        color: orange;
        margin: 3.55px 0 3.55px;
        height: unset;
    }
    .header__link-home .bamboo{
        top: 33px;
        left: -19px;
    }
    .header__link-home .bamboo img {
        width: 45px;
        height: 13px;
    }
    .header__link:not(:first-child){
        display: none;
    }
    .header__copyright{
        display: none;
    }
    .header__burger_menu{
        display: block;
    }
    .header__content{
        margin-right: 60px;
    }
    .header__content-title{
        height: 237px;
        width: 237px;
        margin-bottom: 0;
    }
    .header__content-title p{

        width: 256px;
        height: 204px;
        top: 37px;
        left: 33px;
        font-size: 54.29px;
        letter-spacing: 0;
    }
    .header__content-button{
        margin-left: -330px;
        margin-bottom: 40px;
    }
    .about__backstage-image{
        display: none;
    }
    .container-backstage{
        margin-top: 60px;
        margin-bottom: 80px;
    }
    .about__backstage-content-text:not(:last-child){
        margin-bottom: 30px;
    }
    .about__backstage-content-subtitle{
        margin-bottom: 20px;
    }
    .about__backstage-content{
        margin-left: 20px;
    }
    .about__flower:nth-child(2){
        width:231px;
        height: 476px;
        display: block;
        top: -65px;
    }
    .about__card{
        width: 285px !important;
        margin-left: 20px;
        margin-right: 0 !important;
    }
    .about__card-image{
        width: 281px;
        height: 281px;
    }
    .about__button-cards-next{
        left: 58%;
    }
    .about__button-cards-prev{
        left: 43%;
    }
    .about__flower:nth-child(2){
        top: 0;
    }
    .about__flower:not(:nth-child(2)){
        bottom: 0;
    }
    .container-pick-and-feed{
        max-width: 608px;
        padding-right: 32px;
    }
    .container-pick-and-feed{
        padding-right: 32px;
    }
    .pick_and_feed__info-text:not(:nth-child(5)){
        margin-left: 20px
    }
    .pick_and_feed__info-subtitle{
        margin-left: 20px;
    }
    .pick_and_feed__process-steps{
        position: relative;
        gap: 15px;
    }
    .pick_and_feed__process-arrow img:first-child{
        display: none;
    }
    .pick_and_feed__process-arrow img:last-child{
        position: absolute;
        display: block;
        transform: translateX(-50px) translateY(-15px);
    }
    .testimonials{
        flex-direction: column;
        gap: 15px;
    }
    .testimonial__inner{
        overflow-y: hidden;
        height: 72px;
    }
    .container-testimonials{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__feedback{
        margin-bottom: 80px;
    }
    .reviews__flower{
        width: 200px;
        height: 200px;
        right: -84px;
        bottom: -68px;
    }
    .reviews__title{
        margin-top: 60px;
    }
    .footer__media-660px{
        display: block;
        margin: 0;
    }
    .footer__bottom .footer__media{
        display: none;
    }
    .footer__top{
        display: flex;
        justify-content: space-between;
    }
    .footer{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .footer .designer{
        margin-bottom: 10px;
    }
    .footer__navigation{
        margin-right: 65px;
    }
    .footer__subscribe{
        display: none;
    }
}